{% load recipes_filters %}
{% recipes_by author as recipes %}
<div class='card-user' data-author={{author.id}}>
    <div class='card-user__header'>
        <h2 class='card-user__title'>
            {% firstof author.name author.username %}
        </h2>
    </div>
    {% include 'recipes/utils/recipe_follow_page.html' %}
    <div class='card-user__body'>
        <ul class='card-user__items'>
            {% for recipe in recipes %}
            {% include 'recipes/utils/recipe_follow_page.html' %}
            {% endfor %}
            <li class='card-user__item'>
                <a href='{% url "profile" author.username %}' class='card-user__link link'>
                    {% more_recipes author %}
                </a>
            </li>
        </ul>
    </div>
    <div class='card-user__footer'>
        <button class='button button_style_light-blue button_size_auto' name='subscribe'>
            Отписаться
        </button>
    </div>
</div>