<li class='card-user__item'>
    <a href='{% url "recipe_view" recipe.slug %}' class='link'>
        <div class='recipe'>
            {% load thumbnail %}
                {% thumbnail recipe.image '300x300' crop='center' as im %}
                <img src='{{ im.url }}' alt='{{ recipe.name }}' class='recipe__image'>
            {% endthumbnail %}
            <h3 class='recipe__title'>
                {{ recipe.name }}
            </h3>
            {% include 'recipes/components/time_icon.html' %}
        </div>
    </a>
</li>

