<li class='card-user__item'>
    <a href='{% url "recipe_view" recipe.slug %}' class='link'>
        <div class='recipe'>
            {% load thumbnail %}
                {% thumbnail recipe.image '300x300' crop='center' as im %}
                <img src='{{ im.url }}' alt='какой-то-текст' class='recipe__image'>
            {% endthumbnail %}
            <h3 class='recipe__title'>
                {{ recipe.name }}
            </h3>
            <p class='recipe__text'>
                <span class='icon-time'></span>
                {{ recipe.time_for_cooking }} мин.
            </p>
        </div>
    </a>
</li>

