{% extends "base.html" %}
{% load static %}
{% block title %}Список покупок{% endblock %}
{% block stylesheet %}
    <link rel='stylesheet' href='{% static "pages/shopList.css" %}'>
{% endblock %}
{% block header %}
    Список покупок
{% endblock %}
{% block content %}
{{ purchasy_list }}
    {% csrf_token %}
    <div class='card-list card-list_column'>
        <ul class='shopping-list'>
            {% for recipe in recipes %}
                {% include 'recipes/utils/recipe_purchase_list.html' %}
            {% endfor %}
        </ul>
        {% if purchase_list|length == 0 %}
        <a href='{% url "index" %}'>
            <button class='button button_style_blue'>
                Добавить покупки
            </button>
        </a>
        {% else %}
        <a href='{% url "download_purchase_list" %}'>
            <button onClick='window.location.reload();' class='button button_style_blue'>
                Скачать список
            </button>
        </a>
        {% endif %}
    </div>
{% endblock %}
{% block scripts %}
    <script src='{% static "js/config/config.js" %}'></script>
    <script src='{% static "js/components/Header.js" %}'></script>
    <script src='{% static "js/components/ShopList.js" %}'></script>
    <script src='{% static "js/api/Api.js" %}'></script>
    <script src='{% static "yp/shopList.js" %}'></script>
{% endblock %}