{% extends 'base.html' %}
{% block title %}Войти{% endblock %}
{% load static %}
{% block stylesheet %}
   <link rel='stylesheet' href='{% static "pages/form.css"%}'>
{% endblock %}
{% block header %}
    Войти на сайт
{% endblock %}
{% block content %}
{% load user_filters %}
    <div class='form-container'>
        <form class='form' method='post' action='{% url "login" %}'>
            {% csrf_token %}
            {% include 'users/utils/registration_form_params.html' with login=True %}
            {% include 'users/utils/form_footer.html' with login=True %}
        </form>
    </div>
{% endblock %}
