{% extends "base.html" %}
{% block title %}Зарегистрироваться{% endblock %}
{% load static %}
{% block stylesheet %}
   <link rel='stylesheet' href='{% static "pages/form.css"%}'>
{% endblock %}
{% block header %}
    Регистрация
{% endblock %}
{% block content %}
    <div class='form-container'>
        <form class='form' method='post' action='{% url "signup" %}'>
            {% csrf_token %}
            {% include 'users/utils/registration_form_params.html' %}
            {% include 'users/utils/form_footer.html' with signup=True %}
        </form>
    </div>
{% endblock %}
