{% extends 'base.html' %}
{% block title %}Выбери, что приготовить на {{ category.title }}{% endblock %}
{% block header %}Выбери, что приготовить на {{ category.title }}{% endblock %}
{% block content %}
    {% if not recipes %}
    <h3 class="font_old_tt center">
        В категории "<span class="capitalize">{{ category.title }}</span>" пока нет рецептов
    </h3>
    {% else %}
       <main role='main' class='container'>
        <div class="container">
          <div class="recipes_list">
              {% for recipe in recipes %}
              <div>
                  <div class="font_old_tt">
                        {% load thumbnail %}
                        {% thumbnail recipe.image "696x696" crop="center" upscale=True as im %}
                        <div class="recipe_image_wrapper">
                            <img class="card-img" src="{{ im.url }}">
                        </div>
                        {% endthumbnail %}
                      <div>
                          <a class='font_old_tt_bold recipe_name text-dark' href="{% url 'recipe' recipe.id %}">{{ recipe.name }}</a>
                      </div>

                      <div>
                          {{ recipe.description}}
                      </div>
                       <div class="recipe_date">
                          {{ recipe.pub_date|date:"d/ m/ Y" }}
                      </div>
                  </div>
                </div>
                  {% endfor %}
    </div>
</div>
</main>
    {% endif %}
{% endblock %}