{% extends "base.html" %}
{% block title %} Мои подписки {% endblock %}
{% block header %} Мои подписки {% endblock %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'pages/myFollow.css'%}">
{% endblock %}
{% block content %}
{% csrf_token %}
<div class="main__header">
    <h1 class="main__title"> Мои подписки </h1>
</div>
{% if paginator.count == 0 %}
Вы ни на кого не подписаны.
{% else %}
<div class="card-list">
    {% for author in page %}
    <div class="card-user" data-author={{author.id}}>
        <div class="card-user__header">
            <h2 class="card-user__title">{{ author.name }}</h2>
        </div>
        <div class="card-user__body">
            <ul class="card-user__items">
                {% for recipe in recipes_by_author %}
                {% if recipe.author == author %}
                <a href="{% url 'recipe' recipe.author.username recipe.id %}" class="link" target="_blank">
                <li class="card-user__item">
                    <div class="recipe">
                        {% load thumbnail %}
                        {% thumbnail recipe.image "300x300" crop="center" as im %}
                        <img src="{{ im.url }}" alt="какой-то-текст" class="recipe__image">
                        {% endthumbnail %}
                        <h3 class="recipe__title"> {{ recipe.name }} </h3>
                        <p class="recipe__text"><span class="icon-time"></span> {{ recipe.time_for_cooking }}</p>
                    </div>
                </li>
                </a>
                {% endif %}
                {% endfor %}
                 <li class="card-user__item">
                    <a href="#" class="card-user__link link">Еще 7 рецептов...</a>
                </li>
            </ul>
        </div>
        <div class="card-user__footer">
            <button class="button button_style_light-blue button_size_auto" name="subscribe">Отписаться</button>
        </div>
    </div>
    {% endfor %}
</div>
</div>
{% endif %}
{% if page.has_other_pages %}
{% include "utils/paginator.html" with items=page paginator=paginator%}
{% endif %}
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/config/config.js'%}"></script>
    <script src="{% static 'js/components/MainCards.js'%}"></script>
    <script src="{% static 'js/components/MyFollow.js'%}"></script>
    <script src="{% static 'js/components/Subscribe.js'%}"></script>
    <script src="{% static 'js/components/Header.js'%}"></script>
    <script src="{% static 'js/api/Api.js'%}"></script>
    <script src="{% static 'yp/myFollow.js'%}"></script>
{% endblock %}
