{% extends "base.html" %}
{% block title %}Свежие рецепты{% endblock %}
{% load recipes_filters %}
{% load static %}
{% block stylesheet %}
   <link rel="stylesheet" href="{% static 'pages/index.css'%}">
{% endblock %}
{% csrf_token %}
{% block header %}
    Рецепты
{% endblock %}
{% block content %}
    {% include 'recipes/utils/tags.html' %}
    <div class="card-list">
        {% for recipe in page %}
        {% include "recipes/utils/recipe_card.html" %}
        {% endfor %}
    </div>
    {% if page.has_other_pages %}
    {% include "utils/paginator.html" with items=page paginator=paginator%}
    {% endif %}
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/components/MainCards.js'%}"></script>
    <script src="{% static 'js/components/Purchases.js'%}"></script>
    {% if user.is_authenticated %}
        <script src="{% static 'js/components/Favorites.js'%}"></script>
    {% endif %}
    <script src="{% static 'js/config/config.js'%}"></script>
    <script src="{% static 'js/components/CardList.js'%}"></script>
    <script src="{% static 'js/components/Header.js'%}"></script>
    <script src="{% static 'js/api/Api.js'%}"></script>
    {% if user.is_authenticated %}
        <script src="{% static 'yp/indexAuth.js'%}"></script>
     {% else %}
        <script src="{% static 'yp/indexNotAuth.js'%}"></script>
    {% endif %}
{% endblock scripts %}




