{% extends 'base.html' %}
{% block title %}Технологии{% endblock %}
{% load static %}
{% block stylesheet %}
    <link rel='stylesheet' href='{% static "pages/index.css"%}'>
{% endblock %}
{% block header %}
    Технологии
{% endblock %}
{% block content %}
    <div class='custom-center-block'>
            <p class='custom-text-block'>
                Джанго и питон ванлав
            </p>
        <div class='custom-button-block'>
            <a href='{% url "index" %}' class="nav__link link">
                <button class='button button_style_blue'>
                    Перейти на главную
                </button>
            </a>
        </div>
    </div>
{% endblock %}